# App
NODE_ENV=development

# Auth service
JWT_ACCESS_SECRET=your_super_secret_access_key_change_this
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_this
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# MongoDB Atlas (auth service)
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/popupi-auth

# MySQL (wallet + transaction service)
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_DATABASE=popupi
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=root

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispassword123

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=rabbitpassword123

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:80/api/v1/auth/google/callback

# Services (internal)
AUTH_SERVICE_URL=http://auth-service:4001
WALLET_SERVICE_URL=http://wallet-service:4002
TRANSACTION_SERVICE_URL=http://transaction-service:4003
NOTIFICATION_SERVICE_URL=http://notification-service:4004